<!DOCTYPE html>
<html>
<head>
	<title>Daily Journal</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<nav>
		<div class="container">
			<div class="navbar-header">
				<p class="navbar-brand">Daily Journal</p>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li id="home"><a href="/home">HOME</a></li>
				<li id="about"><a href="/about">ABOUT US</a></li>
				<li id="contact"><a href="/contact">CONTACT US</a></li>
				<li id="logout"><a href="/logout">LOGOUT</a></li>
			</ul>
		</div>
	</nav>
</head>
<body>
   <div class="container">