<!DOCTYPE html>
<html>
  <head>
    <title>NEWS</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
    <!-- datetimepicker jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="container-fluid">
          <form
            action="/add_gallery"
            method="post"
            type="form"
            name="form"
            enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-7">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h5 class="title">Gallery</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="">
                          <label for="">GALLERY</label>
                          <input
                            type="file"
                            name="gallery"
                            class="btn btn-fill btn-success"
                            id="picture" />
                        </div>
                      </div>
                      <div class="col-md-5 col-lg-12">
                        <div class="card">
                          <div class="card-footer">
                            <br />
                            <button
                              type="submit"
                              id="btn_save"
                              name="btn_save"
                              class="btn btn-fill btn-primary">
                              Add to Gallery
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(".datetimepicker").each(function () {
        $(this).datetimepicker();
      });
    </script>
  </body>
</html>
