<%- include('header') -%>;

<div class="container text-center">
  <div class="row">
    <div class="col-sm-6" style="text-align: left">
      <h3>Faculty Administration</h3>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <div class="col-sm-6" style="text-align: left">
      <table style="margin-top: 70px">
        <tr style="background-color: green">
          <th>ABOUT US</th>
        </tr>
        <tr>
          <td>
            <a href="about" class="apply" style="color: black"
              >Dean's Message</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="mission.php" class="apply" style="color: black"
              >Mission & Objectives</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="" class="apply" style="color: black"
              >Faculty Administration</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="inter_affi.php" class="apply" style="color: black"
              >International Affiliations</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="projections.php" class="apply" style="color: black"
              >Projections & Service</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="contact_us.php" class="apply" style="color: black"
              >Contact Us</a
            >
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<%- include('footer') -%>;
